.card{
    background-color: rgb(205, 12, 44);
    color: white;
}
.card-head{
    padding: 1px;
    padding-left: 400px;
}
.desc{
    font-size: 15px;
}
.icons{
    margin-top: 10px;
    margin-left: 40px;
}
.icon-fb{
    margin-left: 25px;
}
.content{
    display: flex;
    border-bottom: 1px solid lightgray;
}
.nav{
    display: flex;
    align-items: center;
    margin-left: 350px;
}
.link{
    margin-left: 10px;
    color: black;
}
.content-1{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}
.desc-1{
    display: flex;
    margin-left: 40px;
    
}
.icons-1{
    display: flex;
    margin-left: 350px;
    
}
.img{
    margin-left: 250px;
    width: 150px;
} 
.para{
    margin-left: 20px;
}
.icon{
    margin-left: 30px;
}
.shirt-img{
    width: 1250px;
}
.word{
    margin-top: 100px;
    margin-left: 550px;
    font-size: 35px;
    margin-bottom: 70px;
}
.photos{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.photo{
    width: 270px;
    height: 250px;
}
.name{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.names{
    display: flex;
    justify-content: space-around;   
    margin-bottom: 100px;
}
.word-1{
    margin-top: 100px;
    margin-left: 550px;
    font-size: 35px;
}
.line{
    border-bottom: 1px solid lightgray;
    margin-top: -100px;
   
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-top: 70px;
}
.container-img{
    
    width: 270px;
    height: 250px;
    cursor: pointer;
}
.container-1:hover{
    border: 1px solid black;
    
}
.container-1{
    position: relative;
}
.desc-2{
    margin-left: 30px;
    font-size: bold;
    margin-bottom: 0;
}
.btn{
    position: absolute;
    background-color: rgb(228, 26, 26);
    color: white;
    font-size: bolder;
    border: none;
    border-radius: 15px;
    padding: 8px 12px;
    top: 20px;
    left: 20px;
}
.price{
    display: flex;
    align-items: center;
    margin-top: -5px;
}
.price-1{
    margin-left: 30px;
    color: gray;
    text-decoration: line-through;
}
.price-2{
    margin-left: 10px;
}
.container-3{
    display: flex;

}
.container-2:hover{
    border: 1px solid black;
}
.container-4:hover{
    border: 1px solid black;
}
.container-2{
    margin-left: 55px;
    position: relative;
}
.btn-1{
    position: absolute;
    background-color: rgb(228, 26, 26);
    color: white;
    font-size: bolder;
    border: none;
    border-radius: 15px;
    padding: 8px 12px;
    top: 20px;
    left: 20px;
}
.container-4{
    margin-left: 30px;
    position: relative;
}
.heading{
    margin-top: 150px;
    margin-left: 520px;
    font-size: 40px;
}
.photo-1{
    width: 160px;
    height: 160px;
}
.names-1{
    display: flex;
    justify-content: space-around;   
    margin-bottom: 20px;
}
.black-img{
    width: 1250px;
}
.last-card{
    margin-top: -10px;
    background-color: black;
    color: white;
    display: flex;
   
}
.link-1{
    color: white;
    text-decoration: none;
}
.last-1{
    margin-left: 40px;
    width: 600px;
}
.last-2{
    margin-left: 30px;
}
.last-3{
    margin-left: 150px;
    width: 200px;
}
.last-4{
    margin-left: 50px;
}
.link-1:hover{
    color: rgb(154, 34, 54);
}
.last-tag{
    font-size: bolder;
}
.last-word{
    margin-top: -10px;
}
.last-btn{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
}
@media(max-width: 576px){
    .card{
        background-color: rgb(205, 12, 44);
        color: white;
    }
    .card-head{
        width: 550px;
        padding: 1px;
       text-align: center;
    }
    .desc{
        font-size: 15px;
    }
    .icons{
        margin-top: 10px;
        margin-left: 5px;
    }
    .icon-fb{
        margin-left: 10px;
    }
    .content{
        display: flex;
        border-bottom: 1px solid lightgray;
    }
    .nav{
        display: flex;
        align-items: center;
       margin-left: 50px;
    }
    .link{
        margin-left: 10px;
        color: black;
    }
}
@media(max-width: 576px){
    .content-1{
        width: 550px;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: white;
    }
    .desc-1{
        display: flex;
        margin-left: 5px;
        width: 100px;
    }
    .icons-1{
        display: flex;
        margin-left: 45px;
        
    }
    .img{
        margin-left: 100px;
        width: 130px;
    } 
    .para{
        margin-left: 5px;
    }
    .icon{
        margin-left: 15px;
    }
}
@media(max-width: 576px){
    .shirt-img{
        width: 520px;
    }
    .word{
        margin-top: 100px;
        margin-left: 200px;
        font-size: 35px;
        margin-bottom: 70px;
    }
    .photos{
        width: 550px;
        display: flex;
        justify-content: space-around;
        margin-left: 0;
    }
    .photo{
        width: 100px;
        height: 70px;
    }
    .name{
        font-size: small;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .names{
        font-size: small;
        display: flex;
        justify-content: space-around;   
        margin-bottom: 100px;
    }
    .word-1{
        margin-top: 100px;
        margin-left: 200px;
        font-size: 35px;
    }
    .line{
        border-bottom: 1px solid lightgray;
        margin-top: -100px;
     }
}
@media(max-width: 576px){
    .container{
        width: 550px;
        display: flex;
        justify-content: space-evenly;
        margin-left: 5px;
        margin-top: 70px;
    }
    .container-img{
        width: 70px;
        height: 50px;
        cursor: pointer;
    }
    .container-1:hover{
        border: 1px solid black;
     }
    .container-1{
        position: relative;
    }
    .desc-2{
        margin-left: 10px;
        font-size: smaller;
        margin-bottom: 0;
    }
    .btn{
        position: absolute;
        background-color: rgb(228, 26, 26);
        color: white;
        font-size: smaller;
        border: none;
        border-radius: 15px;
        padding: 5px 8px;
        top: 10px;
        left: 10px;
    }
    .price{
        display: flex;
        align-items: center;
        margin-top: -5px;
    }
    .price-1{
        font-size: smaller;
        margin-left: 5px;
        color: gray;
        text-decoration: line-through;
    }
    .price-2{
        font-size: smaller;
        margin-left: 5px;
    }
}
@media(max-width: 576px){
    .container-3{
        display: flex;
    
    }
    .container-2:hover{
        border: 1px solid black;
    }
    .container-4:hover{
        border: 1px solid black;
    }
    .container-2{
        margin-left: 55px;
        position: relative;
    }
    .btn-1{
        position: absolute;
        background-color: rgb(228, 26, 26);
        color: white;
        font-size: smaller;
        border: none;
        border-radius: 10px;
        padding: 5px 8px;
        top: 10px;
        left: 10px;
    }
    .container-4{
        margin-left: 30px;
        position: relative;
    }
}
@media(max-width: 576px){
    .heading{
        margin-top: 150px;
        margin-left: 170px;
        font-size: 40px;
    }
    .photos{
        width: 550px;
    }
    .photo-1{
        width: 60px;
        height: 60px;
    }
    .names-1{
        font-size: smaller;
        display: flex;
        justify-content: space-around;   
        margin-bottom: 20px;
    }
    .black-img{
        width: 570px;
    }
    .last-card{
        margin-top: -10px;
        background-color: black;
        color: white;
        display: flex;
       margin-left: 0;
    }
    .link-1{
        color: white;
        text-decoration: none;
    }
    .last-1{
        margin-left: 3px;
    }
    .last-2{
        margin-left: 15px;
    }
    .last-3{
        margin-left: 20px;
    }
    .last-4{
        margin-left: 20px;
    }
    .link-1:hover{
        color: rgb(154, 34, 54);
    }
    .last-tag{
        font-size: bolder;
    }
    .last-word{
        margin-top: -10px;
    }
    .last-btn{
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 10px 30px;
        border: none;
    }
}


